* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: ‘Whitney’, sans-serif;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

/* header */
header {
  background-image: url(../img/jumbo.png);
  width: 100%;
  background-size: cover;
}

/* nav */
nav {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  height: 60px;
  line-height: 60px;
}

.float {
  float: left;
  height: 100%;
}

nav .float:first-child,
nav .float:last-child {
  width: 25%;
}

nav .float:nth-child(2) {
  width: 50%;
}

.logo {
  max-width: 100%;
  vertical-align: middle;
}

.nav-menu {
  list-style-type: none;
}

.nav-menu li {
  display: inline-block;
  margin-right: 1em;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-menu li:last-child {
  margin-right: o;
}

.navbar a:hover,
.navbar a:active,
.navbar a:focus {
  text-decoration: underline;
}

/* btn left corner nav */
a.btn {
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 2em;
  padding: 1px 14px;
  line-height: 2em;
  text-decoration: none;
  font-weight: bold;
}

a.btn:hover {
  color: #265ee8;
}
/* jumbo section */
.jumbo-text {
  width: 50%;
  margin: 0 auto;
  color: white;
  text-align: center;
  padding: 10em 0;
}

.jumbo-title {
  margin-bottom: 1.3em;
}

.jumbo-desc {
  line-height: 1.7em;
  margin-bottom: 1.1em;
}

/* btns middle bottom jumbo text */
a.btn.big {
  padding: 7px 23px;
}

a.btn.dark {
  background-color: #23272a;
  color: white;
}

a.btn.dark:hover,
a.btn.dark:active,
a.btn.dark:focus {
  color: #265ee8;
}

/* main */
/* first section */
.main-sec {
  padding: 8em 0;
}

.section-container {
  width: 80%;
  margin: 0 auto;
}
.section-img {
  width: 60%;
  min-width: 500px;
  text-align: center;
}

.item-img,
.item-two-img {
  width: 100%;
  max-width: 1100px;
  min-width: 500px;
}

.section-text {
  width: 40%;
  text-align: left;
  padding-left: 5%;
  padding-top: 3%;
}

.section-text-title {
  font-size: 3em;
}

.sec-text-desc {
  line-height: 1.8em;
  margin-top: 2em;
}

/* second section */

.main-sec.gray {
  background-color: rgb(246, 246, 246);
}

.item-two-img {
  padding: 2em 0 0 1em;
}